.chordArea{
    position: absolute;
    width: 40%;
    height: 0px;
    padding: 0 3%;
    margin-top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    
}
.chordSign:hover, .verseSign:hover, .dynSign:hover{
background-color: lightgray;
cursor: pointer;
}